@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    font-family: 'Great Vibes', cursive;
}

[data-theme="forest"] .btn {
    border-radius: 5px;
  }

  [data-theme="forest"] input {
    border-radius: 5px;
  }

  [data-theme="forest"] textarea {
    border-radius: 5px;
  }
[data-theme="forest"] .menu[class*=" px-"]:not(.menu[class*=" px-0"]) li > * {
    border-radius: 5px;
  }

  